.gendiv{
    width:100%;
    height:100vh;
    background-color: rgb(213, 213, 224);
    margin:0;
    display:grid;
    place-items: center;
}



.joboffer{
    display:grid;
    /* border:2px solid blue; */
    height:fit-content;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap:15px;
    top:auto;
    padding:50px;
    background-color: #A7D8F0;
}

.div1{
    height:200px;
    width:500px;
    /* background-color: purple; */
    grid-column: span 2;
    background-color:#663399;
    border-radius: 8px;
}

.div2{
    height:200px;
    width:250px;
    background-color: gray;
    border-radius: 8px;
}

.div3{
    height:400px;
    width:250px;
    background-color:white;
    grid-row: span 2;
    border-radius: 8px;
}

.div4{
    height:200px;
    width:250px;
    background-color: white;
    border-radius: 8px;
}

.div5{
    height:200px;
    width:500px;
    background-color: black;
    grid-column: span 2;
    border-radius: 8px;
}

.firsth1{
    text-align: left;
    font-size: 20px;
    color:white;
    font-weight: 100;
    padding: 10px;
}

.firsth2{
    text-align: left;
    font-size: 20px;
    color:black;
    font-weight: 100;
    
    padding:10px;
}
